body {
    font-family: sans-serif;
    padding-left: 20px;
    margin: auto;
  }
  h1 {
    padding-top: 0;
    padding-left: 10px;
    color: blueviolet;
    font-size: 10px;
    margin: auto;
  }
  h2 {
    padding-top: 50px;
    color: darkslategray;
  }
  span {
    color: darkgray;
    font-size: 18px;
  }
  